/* =====================GRID STYLING=============== */

body
{
    background: black;
    margin:0px;
    max-width: 100%;

}
/* ====================STYLING NAVBAR=================== */
.navbar {
    color: #fff;
    background: #1d1c1c !important;
    padding: 11px 16px;
    border-radius: 0;
    border: none;
    box-shadow: 0 0 4px rgb(0 0 0 / 10%);
}
/* .navbar img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin-right: 10px;
} */
.navbar .navbar-brand {
	color: #efe5ff;
	padding-left: 0;
	padding-right: 50px;
	font-size: 18px;
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
	color: #fff;
}
.navbar .navbar-brand i {
	font-size: 25px;
	margin-right: 5px;
}
.search-box {
	position: relative;
}
.search-box input {
	padding-right: 35px;
	min-height: 38px;
	border: none;
	background: #faf7fd;
	border-radius: 3px !important;
}
.search-box input:focus {
	background: #fff;
	box-shadow: none;
}
.search-box .input-group-addon {
	min-width: 35px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	z-index: 9;
	padding: 10px 7px;
	height: 100%;
}
.search-box i {
	color: #a0a5b1;
	font-size: 19px;
}
.navbar .nav-item i {
	font-size: 18px;
}
.navbar .nav-item span {
	position: relative;
	top: 3px;
}
.navbar .navbar-nav > a {
	color: #efe5ff;
	padding: 8px 15px;
	font-size: 14px;
}
.navbar .navbar-nav > a:hover, .navbar .navbar-nav > a:focus {
	color: #fff;
	text-shadow: 0 0 4px rgba(255,255,255,0.3);
}
.navbar .navbar-nav > a > i {
	display: block;
	text-align: center;
}
.navbar .dropdown-item i {
	font-size: 16px;
	min-width: 22px;
}
.navbar .dropdown-item .material-icons {
	font-size: 21px;
	line-height: 16px;
	vertical-align: middle;
	margin-top: -2px;
}
.navbar .nav-item.open > a, .navbar .nav-item.open > a:hover, .navbar .nav-item.open > a:focus {
	color: #fff;
	background: none !important;
}
.navbar .dropdown-menu {
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu a {
	color: #777 !important;
	padding: 8px 20px;
	line-height: normal;
	font-size: 15px;
}
.navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:focus {
	color: #333 !important;
	background: transparent !important;
}
.navbar .navbar-nav .active a, .navbar .navbar-nav .active a:hover, .navbar .navbar-nav .active a:focus {
	color: #fff;
	text-shadow: 0 0 4px rgba(255,255,255,0.2);
	background: transparent !important;
}
.navbar .navbar-nav .user-action {
	padding: 9px 15px;
	font-size: 15px;
}
.navbar .navbar-toggle {
	border-color: #fff;
}
.navbar .navbar-toggle .icon-bar {
	background: #fff;
}
.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
	background: transparent;
}
.navbar .navbar-nav .open .dropdown-menu {
	background: #faf7fd;
	border-radius: 1px;
	border-color: #faf7fd;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .divider {
	background-color: #e9ecef !important;
}
@media (min-width: 1200px){
	.form-inline .input-group {
		width: 350px;
		margin-left: 30px;
	}
}
@media (max-width: 1199px){
	.navbar .navbar-nav > a > i {
		display: inline-block;
		text-align: left;
		min-width: 30px;
		position: relative;
		top: 4px;
	}
	.navbar .navbar-collapse {
		border: none;
		box-shadow: none;
		padding: 0;
	}
	.navbar .navbar-form {
		border: none;
		display: block;
		margin: 10px 0;
		padding: 0;
	}
	.navbar .navbar-nav {
		margin: 8px 0;
	}
	.navbar .navbar-toggle {
		margin-right: 0;
	}
	.input-group {
		width: 100%;
	}
}
/*===================END NAVBAR==========================*/
.pac-container {
    z-index: 1051 !important;
}

#diagram,
#toolbox {
    margin: 20px 0;
    border-width: 2px;
    border-style: solid;
    border-left-color: #333333;
    border-top-color: #333333;
    margin-top: 0px !important;
    height: 100%;
    width: 100%;
    margin-left: -30px;
}

#toolbox {
    display: flex;
    padding: 10px;
    flex-flow: row wrap;
    align-content: flex-start;
}

.control {
    height: 80px;
    width: 80px;
    top: 30px;
    left: 30px;
border-radius: 5px;
    vertical-alignment: middle;
    line-height: 50px;
    text-align: center;
    margin-bottom: 5px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 1em;
    color: #000000;
    background-color: #CCC;
    cursor: pointer;
    float: left;
    position: absolute;
    z-index: 0;
}
.electricity {
    height: 52px;
    width: 52px;
    top: 30px;
    left: 30px;
    border-radius: 5px;
    vertical-alignment: middle;
    line-height: 50px;
    text-align: center;
    margin-bottom: 5px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 1em;
    color: #000000;
    /* background-color: #CCC; */
    cursor: pointer;
    float: left;
    position: absolute;
    z-index: 1000;
}
.horizontalLine{
    height: 8px;
    width: 96px;
    top: 30px;
    left: 30px;
    border-radius: 5px;
    vertical-alignment: middle;
    line-height: 5px;
    text-align: center;
    margin-bottom: 5px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 1em;
    color: #ffffff;
    /* background-color: #CCC; */
    cursor: pointer;
    float: left;
    position: absolute;
    z-index: 1000;
}
.verticalLine{
    height: 96px;
    width: 9px;
    top: 30px;
    left: 30px;
    border-radius: 5px;
    vertical-alignment: middle;
    line-height: 50px;
    text-align: center;
    margin-bottom: 5px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 1em;
    color: #ffffff;
    /* background-color: #CCC; */
    cursor: pointer;
    float: left;
    position: absolute;
    z-index: 1000;
}
.transformer {
    height: 52px;
    width: 52px;
    top: 30px;
    left: 30px;
    border-radius: 5px;
    vertical-alignment: middle;
    line-height: 50px;
    text-align: center;
    margin-bottom: 5px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 1em;
    color: #000000;
    /* background-color: #CCC; */
    cursor: pointer;
    float: left;
    position: absolute;
    z-index: 0;
}
.capacitor {
    height: 30px;
    width: 80px;
    top: 30px;
    left: 30px;
    border-radius: 5px;
    vertical-alignment: middle;
    line-height: 50px;
    text-align: center;
    margin-bottom: 5px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 1em;
    color: #000000;
    /* background-color: #CCC; */
    cursor: pointer;
    float: left;
    position: absolute;
    z-index: 0;
}
.daimond {
    height: 60px;
    width: 60px;
    top: 30px;
    left: 30px;
    border-radius: 5px;
    vertical-alignment: middle;
    line-height: 50px;
    text-align: center;
    margin-bottom: 5px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 1em;
    color: #000000;
    /* background-color: #CCC; */
    cursor: pointer;
    float: left;
    position: absolute;
    z-index: 0;
}
.earthswitch {
    height: 50px;
    width: 80px;
    top: 30px;
    left: 30px;
    border-radius: 5px;
    vertical-alignment: middle;
    line-height: 50px;
    text-align: center;
    margin-bottom: 5px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 1em;
    color: #000000;
    /* background-color: #CCC; */
    cursor: pointer;
    float: left;
    position: absolute;
    z-index: 0;
}

#diagram .control {
    position: absolute;
}

.window {
    z-index: 20;
}

.jtk-connector {
    z-index: 4;
}

.jtk-endpoint {
    z-index: 5;
}

.jtk-overlay {
    z-index: 6;
}

.custom-menu {
    z-index: 1000;
    position: absolute;
    background-color: #C0C0C0;
    border: 1px solid black;
    padding: 2px;
}

#toolbox .control {
    margin: 10px 5px;
}
/*======================LEGEND STYLINGS=============*/
#legend {
    width: 200px;
    height: 150px;
    border-radius: 3px;
    background: #040404;
    padding: 10px;
    font-family: arial;
    margin-top: 29px;
    color: grey;
  }
  .circle {
    width: 17px;
    height: 16px;
    border-radius: 16%;
  }
  #linelegend {
    width: 200px;
    height: 150px;
    border-radius: 3px;
    background: #040404;
    padding: 10px;
    font-family: arial;
    margin-top: 98px;
    color: grey;
  }
  .lines {
    width: 20px;
    height: 3px;
    border-radius: 22%;
  }
/* =====================GRIDS BOX STYLING=============== */

  .closing {
    background-color:green !important;
    color:#000000 !important;
    border:none !important;
  }
  .open {
    background-color:white !important;
    color:#000000 !important;
    border:7px solid green !important;
  }
  .under_fault {
    background-color:red !important;
    color:#000000 !important;
    border:none !important;
  }
  .under_permit {
    background-color:yellow !important;
    color:#000000 !important;
    border:none !important;
  }
  .defaulty {
    background-color:#CCC !important;
    color:#000000 !important;
    border:none !important;
  }
  svg.fs-connector path {
    stroke: green;

}


